@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

body {
  background-color: #ffffff;
  overflow: visible;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}

main {
  background-color: #212529;
  width: 800px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

li {
  list-style-type: none;
}

i {
  font-size: 20px;
}

#editor {
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  width: 800px;
  min-height: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: #212529 0px 0px 10px;
}

#editor:focus {
  outline: 0;
}

.dropdown-menu {
  min-width: none;
}
